@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  body {
    font-family: "Inter", system-ui, -apple-system, sans-serif;
    background-color: #ffffff;
    color: #f0f0f0;
    min-height: 100vh;
    user-select: none;
  }
  .container {
  max-width: 1236px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}


